/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* { /* prevents browser from adding elements automatically */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* properties related to fonts are normally inherited */
    /* font-fam will be inherited by all child elems of the body---more efficient and better than putting font-fam in * */
    color: #777;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    padding: 30px;
}

.header {
    /* gradient comes before bck-img */
    background-image: linear-gradient(
        to right bottom, 
        rgba(127, 213, 112, 0.801), 
        rgba(40, 180, 133, 0.801)), 
        url("../img/hero.jpg");
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* top-l, top-r, bottom-r, bottom-l */
    height: 95vh;
    position: relative;
}

.logo-box {
    left: 40px;
    position: absolute;
    top: 40px;
}

.logo {
    height: 35px;
    /* width is set by browser */
}

.text-box {
    left: 50%;
    position: absolute;
    top: 50%; /* X% of the height of the parent (.header) */
    transform: translate(-50%, -50%); /* these are in relation to the elem itself */
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 16px;
}